@import '/home/rikai/scripts/settings/ags/colors/skylight.scss';

$primary:    $_color15;
$secondary:  $_color4;
$accent:     $_color11;
$good:       $_color4;
$bad:        $_background;
$text:       $_foreground;
$bluetooth:  $_color2;
$warning:    $_color1;
$nononsense: $_nononsense;

$background: $_background;
$empty:      $_empty;
$highlight:  $_highlight;
$foreground: $_foreground;
$focus:      $_focus;
$occupied:   $_occupied;
$hover:      $_hover;
$border:     $_border;

$color0:     $_color0;
$color1:     $_color1;
$color2:     $_color2;
$color3:     $_color3;
$color4:     $_color4;
$color5:     $_color5;
$color6:     $_color6;
$color7:     $_color7;
$color8:     $_color8;
$color9:     $_color9;
$color10:    $_color10;
$color11:    $_color11;
$color12:    $_color12;
$color13:    $_color13;
$color14:    $_color14;
$color15:    $_color15;


